{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Tracking</h2>
        <form method="post" action="{% url 'track_letter_condition' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="tracking_code" class="form-label">Enter Tracking Code:</label>
                <input type="text" name="tracking_code" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Track</button>
        </form>

            <div class="progress mt-4">
                {% if letter.status == 'Pending' %}
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">Pending</div>
                {% elif letter.status == 'In Progress' %}
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">In Progress</div>
                {% elif letter.status == 'Done' %}
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Done</div>
                {% endif %}
            </div>

        <br/>

        {% if letter %}
            <h3>Letter Information</h3>
            <p>Tracking Code: {{ letter.tracking_code }}</p>
            <p>Title: {{ letter.title }}</p>
            <p>Content: {{ letter.content }}</p>
            <p>Condition: {% if letter.is_read %}Opened{% else %}Unopened{% endif %}</p>
            <p>Messages for this letter: {{ letter.messages }}</p>
            <p>Response: {{ letter.additional_text }}</p>
            <h4>References and Additional Texts:</h4>
            <ol>
                {% for detail in letter.letterdetails_set.all %}
                    <li> {{ letter.reci_get}} - says : {{ detail.additional_text }} - referred to : {{ detail.referred_to_group }} </li>
                {% endfor %}
            </ol>

            <form method="post" action="{% url 'download_pdf' letter.tracking_code %}" style="margin-top: 20px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Download as PDF</button>
            </form>

        {% endif %}
    </div>
{% endblock %}
