{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Signup</h2>
    <form method="post" action="{% url 'user_signup' %}" class="needs-validation" novalidate>
      {% csrf_token %}

      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control" required>
        <div class="invalid-feedback">
          Please enter a username.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password1" class="form-control" required>
        <div class="invalid-feedback">
          Please enter a password.
        </div>
      </div>

      <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm Password:</label>
        <input type="password" name="password2" class="form-control" required>
        <div class="invalid-feedback">
          Please confirm your password.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Signup</button>
    </form>
  </div>
{% endblock %}
